@navheight: 54px;
@clr-menu-bg: hsla(80, 61%, 50%, 1);
@clr-menu-bg-highlight: lighten(@clr-menu-bg, 20%);
@clr-menu-bg-highlight2: lighten(@clr-menu-bg, 10%);
@clr-menu-bg-border: darken(@clr-menu-bg, 10%);

@sz-blind-closed: 100px;
@sz-blind-open: 250px;


.arrow_box {
	position: relative;
	// background: @clr-menu-bg;
	border-top: 1px solid @clr-menu-bg-border;

  &:hover {
    background: @clr-menu-bg-highlight;
  }



}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(100, 83, 213, 0);
	border-bottom-color: @clr-menu-bg;
	border-width: 10px;
	margin-left: -10px;

  &:hover {
    border-bottom-color: @clr-menu-bg-highlight;
  }



}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: @clr-menu-bg-border;
	border-width: 11px;
	margin-left: -11px;
}

.history-blind {

  &.open {
    width: @sz-blind-open;
  }

  transition: width ease 150ms;

  position: fixed;
  height: 100%;
  left: 0;
  top: @navheight;
  width: @sz-blind-closed;
  background: @clr-menu-bg;
  z-index: 999;
  overflow-x: hidden;


  .history-container {

    width: @sz-blind-open;

    .previous-steps {



      list-style-type: none;
      padding: 0;


      .previous-step {

        &:hover {
          background: @clr-menu-bg-highlight;
        }

        &:first-child {
          // color: white;
          background: @clr-menu-bg-highlight
        }



        // min-height: 50px;
        display: flex;
        flex-direction: row;

        .summary {
          text-align: center;
          display: inline-block;
          width: @sz-blind-closed;
          padding: 10px;
        }

        .details {
          display: inline-block;
          width: @sz-blind-open - @sz-blind-closed;
          padding: 10px;
          border-top: 1px solid @clr-menu-bg-border;
        }
      }

    }

  }

}
