@navheight: 54px;

.sidebar-left {
  position: fixed;
  height: 100%;
  background: YellowGreen;
  width: 100px;
  left: 0;
  top: @navheight;
}


.sidebar-right {
  position: fixed;
  height: 100%;
  background: YellowGreen;
  width: 100px;
  right: 0;
  top: @navheight;
}


.central-panel {
  position: fixed;
  height: 100%;
  left: 100px;
  right: 100px;
  top: @navheight;
}
